body,
html {
  font-family: "Laila", "Open Sans", Arial, sans-serif;
  color: #1b1b1b;
  background-color: #ffffff;
  font-size: 16px !important;
}

.text-beautify,
h1 {
  font-family: "Rochester", "Open Sans", Arial, sans-serif;
}

.caption {
  position: relative;
  width: 100%;
  text-align: center;
  color: #eeeeee;
}

.bg-image {
  background-image: url(../images/cover.jpg);
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.static-bg {
  min-height: 100vh;
  padding-bottom: 65px;
  background-image: url(../images/bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
}

.card-guest {
  position: absolute;
  border-radius: 16px;
  padding: 8px;
  width: 30%;
  bottom: 0;
  position: fixed;
  margin-bottom: 8px;
  text-align: center;
  color: whitesmoke !important;
  background-color: #00000063;
}

@media screen and (max-width: 780px) and (orientation: portrait) {
  .bg-image {
    width: 100%;
    position: fixed;
  }

  .caption {
    top: 20px !important;
  }

  .card-guest {
    width: 75%;
    height: 85px;
    margin-bottom: 68px;
  }
}

.scrollable {
  height: 225px;
  overflow-y: scroll;
  text-align: left;
  box-shadow: 0 0 0 0;
  display: block;
  -webkit-overflow-scrolling: touch;
}

.const-container {
  /* margin: 10px 4px 10px 4px; */
  padding-bottom: 65px;
}

.card-trans {
  background-color: #00000000;
}

.container {
  height: 100%;
}

.swal2-popup .swal2-styled:focus {
  box-shadow: none !important;
}

/* leaflet */
#lmap {
  position: relative;
  border: 1px solid black;
  border-radius: 8px;
  height: 300px;
  width: 100%;
}
