body,
html {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "Outfit", "Open Sans", Arial, sans-serif;
  color: #5c5c5c;
  background-color: #292929;
  font-size: 16px !important;
}

.text-beautify,
h1 {
  font-family: "Satisfy", "Open Sans", Arial, sans-serif;
}

.caption {
  position: absolute;
  left: 0;
  top: 35%;
  width: 100%;
  text-align: center;
  color: #eeeeee;
}

.bg-image {
  background-image: url(../images/example.jpg);
  height: 100vh;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: 0px 3px 0px 0px rgba(146, 51, 107, 0.2);
}

.visible {
  display: none !important;
}

.card-guest {
  width: 20%;
  bottom: -180px;
  margin: 25px;
  color: rgb(247, 247, 247);
  border-radius: 16px;
  padding: 8px;
  background-color: #00000063;
}

@media screen and (max-width: 768px) {
  .visible {
    display: block !important;
  }

  .visible-alert {
    display: none !important;
  }

  .card-guest {
    bottom: -200px;
    width: 75%;
    height: 85px;
  }
}

.card {
  border-color: #c5446f;
  box-shadow: 0px 4px 4px 0px rgba(155, 59, 115, 0.2);
}

.scrollable {
  height: 225px;
  overflow-y: scroll;
  text-align: left;
  box-shadow: 0 0 0 0;
  display: block;
  -webkit-overflow-scrolling: touch;
}

.form-control:focus {
  border-color: #c5446f;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px #c5446f;
}

.btn-primary,
.btn-primary:hover,
.btn-primary:active,
.btn-primary:visited {
  background-color: #c5446f !important;
  border-color: #c5446f !important;
}

footer {
  background-color: #5c5c5c;
  text-align: center;
  color: beige;
  border-radius: 4px;
}
