body,
html {
  font-family: "Outfit", "Open Sans", Arial, sans-serif;
  color: #5c5c5c;
  background-color: #ffffff;
  font-size: 16px !important;
}

.text-beautify,
h1 {
  font-family: "Satisfy", "Open Sans", Arial, sans-serif;
}

.caption {
  position: relative;
  top: 10px;
  width: 100%;
  text-align: center;
  color: #eeeeee;
}

.bg-image {
  background-image: url(../images/cover.jpg);
  height: 100vh;
  width: 35%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.visible {
  display: none !important;
}

.card-guest {
  position: absolute;
  border-radius: 16px;
  padding: 8px;
  width: 20%;
  bottom: 0;
  margin-bottom: 8px;
  text-align: center;
  color: whitesmoke !important;
  background-color: #00000063;
}

@media screen and (max-width: 780px) and (orientation: portrait) {
  .bg-image {
    width: 100%;
  }

  .caption {
    top: 25px !important;
  }

  .visible {
    display: block !important;
  }

  .visible-alert {
    display: none !important;
  }

  .card-guest {
    width: 75%;
    height: 85px;
    bottom: 60px;
  }
}

.scrollable {
  height: 225px;
  overflow-y: scroll;
  text-align: left;
  box-shadow: 0 0 0 0;
  display: block;
  -webkit-overflow-scrolling: touch;
}

.cont-container {
  margin: 10px 4px 10px 4px;
  padding-bottom: 75px;
}
